.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(0, 0, 0);
  color:white
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}

img {
  width: 50%;
  height: 50%;
}

.results-container {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

